target
.idea
*.iml
.settings
.project
.gradle
.groovy
.classpath
/target
/build
.sonar
/sonar
gradle.bat
src.zip
result.txt
build2.gradle
pom2.xml
pom(damage-control).xml
.DS_Store
src/DS_Store
infer-out/
/bin/
out/